# What is pandas-python? Introduction and Installation

Pandas is python module that makes data science easy and effective

Weather dataset

Questions?

1. What was the maximum temparature in new york in the month of january?

2. On which days did it rains?

3. What was the average speed of wind during the month?

First we will see in python code

In [2]:
import pandas as pd

In [7]:


df = pd.read_csv('nyc_weather.csv')
type(df)
print(type(df))

# df.head(5) # select top 5 ^ from table_name
df.head() # default 5
# df.columns

<class 'pandas.core.frame.DataFrame'>

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,1/1/2016,38,23,52,30.03,10,8.0,0,5,NaN,281
1,1/2/2016,36,18,46,30.02,10,7.0,0,3,NaN,275
2,1/3/2016,40,21,47,29.86,10,8.0,0,1,NaN,277
3,1/4/2016,25,9,44,30.05,10,9.0,0,3,NaN,345
4,1/5/2016,20,-3,41,30.57,10,5.0,0,0,NaN,333

In [9]:
# select col from table_name where condition
type(df['EST'])

pandas.core.series.Series

In [10]:
# excel we do lot of things - col - sum, mean, max, mathematicall?
# or you can genrarate entire reports
df.describe()  # summary statistics

,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,CloudCover,WindDirDegrees
count,31.000000,31.000000,31.000000,31.000000,31.000000,28.000000,31.000000,31.000000
mean,34.677419,17.838710,51.677419,29.992903,9.193548,6.892857,3.129032,247.129032
std,7.639315,11.378626,11.634395,0.237237,1.939405,2.871821,2.629853,92.308086
min,20.000000,-3.000000,33.000000,29.520000,1.000000,2.000000,0.000000,34.000000
25%,29.000000,10.000000,44.500000,29.855000,9.000000,5.000000,1.000000,238.000000
50%,35.000000,18.000000,50.000000,30.010000,10.000000,6.500000,3.000000,281.000000
75%,39.500000,23.000000,55.000000,30.140000,10.000000,8.000000,4.500000,300.000000
max,50.000000,46.000000,78.000000,30.570000,10.000000,16.000000,8.000000,345.000000

In [14]:
df.isnull().sum()  # rows, cols

EST                      0
Temperature              0
DewPoint                 0
Humidity                 0
Sea Level PressureIn     0
VisibilityMiles          0
WindSpeedMPH             3
PrecipitationIn          0
CloudCover               0
Events                  22
WindDirDegrees           0
dtype: int64

In [19]:
df.Temperature.dtype

dtype('int64')

In [20]:
df['Events'] # select col from table_name
# lets say I want to select multiple
df[['Events', 'EST']] # select multiple columns

#lets say you want to select one column - find the avg
df['Temperature'].mean()

np.float64(34.67741935483871)

In [22]:
df["Events"].value_counts()

Events
Rain        4
Snow        3
Fog-Snow    2
Name: count, dtype: int64

In [30]:
# tell me avg tem by event
df.tail(2)

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
29,1/30/2016,34,16,46,30.01,10,7.0,0,0,NaN,257
30,1/31/2016,46,28,52,29.90,10,5.0,0,0,NaN,241

In [41]:
# select col col from table where some codition
cond_1 = (df['Events'] == 'Rain')
cond_2 =  (df.DewPoint<=12)
df_rain =df[ cond_1 | cond_2]

df_rain.head()

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
3,1/4/2016,25,9,44,30.05,10,9.0,0,3,NaN,345
4,1/5/2016,20,-3,41,30.57,10,5.0,0,0,NaN,333
5,1/6/2016,33,4,35,30.50,10,4.0,0,0,NaN,259
6,1/7/2016,39,11,33,30.28,10,2.0,0,3,NaN,293
8,1/9/2016,44,38,77,30.16,9,8.0,T,8,Rain,76

In [42]:
# filter or condition
condition = (df['Temperature']<25) & (df['DewPoint']>20)
condtion_1 = df['Temperature']<25
condtion_2 =df['DewPoint']>20
# find those data point where temp is less then 10
df[condtion_1 & condtion_2]

Empty DataFrame
Columns: [EST, Temperature, DewPoint, Humidity, Sea Level PressureIn, VisibilityMiles, WindSpeedMPH, PrecipitationIn, CloudCover, Events, WindDirDegrees]
Index: []

In [43]:
df[df['WindSpeedMPH'].isnull()]

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
9,1/10/2016,50,46,71,29.59,4,NaN,1.8,7,Rain,109
10,1/11/2016,33,8,37,29.92,10,NaN,0,1,NaN,289
21,1/22/2016,26,6,41,30.21,9,NaN,0.01,3,Snow,34

In [44]:
df['Events'].isnull().sum()

np.int64(22)

In [45]:
df['Events'].value_counts(normalize=True)

Events
Rain        0.444444
Snow        0.333333
Fog-Snow    0.222222
Name: proportion, dtype: float64

In [46]:
# now we will see in pandas 


import pandas as pd
df = pd.read_csv('nyc_weather.csv')
df.head(5)

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,1/1/2016,38,23,52,30.03,10,8.0,0,5,NaN,281
1,1/2/2016,36,18,46,30.02,10,7.0,0,3,NaN,275
2,1/3/2016,40,21,47,29.86,10,8.0,0,1,NaN,277
3,1/4/2016,25,9,44,30.05,10,9.0,0,3,NaN,345
4,1/5/2016,20,-3,41,30.57,10,5.0,0,0,NaN,333

In [34]:
df['Sea Level PressureIn'].max()

np.float64(30.57)

In [33]:
df.Events.value_counts()
# day when it rains ??
# filter first ?? 
# we go to the date colunn
# note that date coolumn ??

# filter 
# df.Events.value_counts()
rain_df = df[df.Events == 'Rain']
rain_df['EST']

8      1/9/2016
9     1/10/2016
15    1/16/2016
26    1/27/2016
Name: EST, dtype: object

In [24]:
#get the maximum temparature 
df['Temperature'].max()
df.Temperature.min()

20

In [38]:
df[df.Events=='Rain'][['EST','Events']]

          EST Events
8    1/9/2016   Rain
9   1/10/2016   Rain
15  1/16/2016   Rain
26  1/27/2016   Rain

In [4]:
#3. average wind speed
df['WindSpeedMPH'].mean()

6.892857142857143

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   EST                   31 non-null     object
 1   Temperature           31 non-null     int64
 2   DewPoint              31 non-null     int64
 3   Humidity              31 non-null     int64
 4   Sea Level PressureIn  31 non-null     float64
 5   VisibilityMiles       31 non-null     int64
 6   WindSpeedMPH          28 non-null     float64
 7   PrecipitationIn       31 non-null     object
 8   CloudCover            31 non-null     int64
 9   Events                9 non-null      object
 10  WindDirDegrees        31 non-null     int64
dtypes: float64(2), int64(6), object(3)
memory usage: 2.8+ KB

In [36]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Temperature,31.0,34.677419,7.639315,20.00,29.000,35.00,39.50,50.00
DewPoint,31.0,17.838710,11.378626,-3.00,10.000,18.00,23.00,46.00
Humidity,31.0,51.677419,11.634395,33.00,44.500,50.00,55.00,78.00
Sea Level PressureIn,31.0,29.992903,0.237237,29.52,29.855,30.01,30.14,30.57
VisibilityMiles,31.0,9.193548,1.939405,1.00,9.000,10.00,10.00,10.00
WindSpeedMPH,28.0,6.892857,2.871821,2.00,5.000,6.50,8.00,16.00
CloudCover,31.0,3.129032,2.629853,0.00,1.000,3.00,4.50,8.00
WindDirDegrees,31.0,247.129032,92.308086,34.00,238.000,281.00,300.00,345.00

# Installation


pip install pandas