In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [4]:
# lets data with 2 feature numpy array
data = np.array([[3,2],[3,3],[6,5],[6,7]])

df = pd.DataFrame(data, columns=['Feature_1', 'Feature_2'])

df.head()

   Feature_1  Feature_2
0          3          2
1          3          3
2          6          5
3          6          7

In [5]:
# compute the distance
new_point = np.array([3,4])
df['Distance'] = np.sqrt((df['Feature_1'] - new_point[0])**2 + (df['Feature_2'] - new_point[1])**2)
df.head()

   Feature_1  Feature_2  Distance
0          3          2  2.000000
1          3          3  1.000000
2          6          5  3.162278
3          6          7  4.242641

In [6]:
# lets compute cosine similarity
from sklearn.metrics.pairwise import cosine_similarity
similarity = cosine_similarity(data, new_point.reshape(1, -1))
df['Cosine_Similarity'] = similarity
df.head()

   Feature_1  Feature_2  Distance  Cosine_Similarity
0          3          2  2.000000           0.942990
1          3          3  1.000000           0.989949
2          6          5  3.162278           0.973080
3          6          7  4.242641           0.997880