## Python Basics: Level 1 Content Outline

1. **Introduction to Python**
    - What is Python?
    - Features of Python
    - Applications of Python

2. **Python Installation and Setup**
    - Installing Python
    - Setting up IDEs (IDLE, VS Code, Jupyter Notebook)

3. **Python Syntax and Structure**
    - Writing your first Python program
    - Indentation and code blocks
    - Comments in Python

4. **Python Keywords and Identifiers**
    - List of Python keywords
    - Rules for naming identifiers

5. **Variables and Data Types**
    - Declaring variables
    - Basic data types: int, float, str, bool
    - Type conversion

6. **Input and Output**
    - Using `input()` for user input
    - Using `print()` for output

7. **Operators in Python**
    - Arithmetic operators
    - Assignment operators
    - Comparison operators
    - Logical operators

8. **Basic Data Structures**
    - Lists
    - Tuples
    - Sets
    - Dictionaries

9. **Conditional Statements**
    - if, elif, else statements

10. **Loops**
     - for loop
     - while loop
     - break and continue statements

11. **Basic Functions**
     - Defining and calling functions
     - Function arguments and return values

12. **Basic Error Handling**
     - try and except blocks

13. **Summary and Practice Exercises**

In [7]:
# keywords : reserved
import keyword
kw_list =keyword.kwlist
len(kw_list)

35

In [14]:
test@12_test = 12

SyntaxError: invalid decimal literal (1292795692.py, line 1)

In [17]:
age = 20.5

type(age)

float

In [22]:
# lets say we have score of 5 subjects
marks = {45, 67, 89, 78, 90}
type(marks)

set

In [27]:
sum([age])

20.5

In [ ]:
# for an eg

# to the avg marks of the student
sum(marks)/len(marks)

In [37]:
age = input("Enter your age: ")
age = float(age)
age

40.0

In [38]:
if age>18:
    print("You are eligible to vote")
    if age>60:
        print("You are senior citizen")
    elif age<60 and age>40:
        print("You are in mid age")
    else:   
        print("You are young")
elif age==18:
    print("You are eligible to vote this year")
elif age<0:
    print("Age cannot be negative")
else:
    print("You are not eligible to vote")

You are eligible to vote
You are young

In [51]:
# we have daily sales data of a shop in a month
sales = [1000, 2000, 3000, 4000, 5000, 6000, 7000, 8000, 9000, 10000, 11000, 12000, 13000, 14000, 15000, 16000, 17000, 18000, 19000, 20000, 21000, 22000, 23000, 24000, 25000, 26000, 27000, 28000, 29000, 30000]

average_sales = sum(sales)/len(sales)
print('Average sales in a month: ', average_sales)

# lest say to find the sales where we have more sae then average sales

# more_sale_than_avg = []

# for sale in sales:
#     if sale > average_sales:
#         more_sale_than_avg.append(sale)
# print('Sales more than average sales: ', more_sale_than_avg)


for sale in range(len(sales)):
    if sales[sale]>average_sales:
        print("day when sales were more than average sales: ", sale+1, " with sales of ", sales[sale])

Average sales in a month:  15500.0
day when sales were more than average sales:  16  with sales of  16000
day when sales were more than average sales:  17  with sales of  17000
day when sales were more than average sales:  18  with sales of  18000
day when sales were more than average sales:  19  with sales of  19000
day when sales were more than average sales:  20  with sales of  20000
day when sales were more than average sales:  21  with sales of  21000
day when sales were more than average sales:  22  with sales of  22000
day when sales were more than average sales:  23  with sales of  23000
day when sales were more than average sales:  24  with sales of  24000
day when sales were more than average sales:  25  with sales of  25000
day when sales were more than average sales:  26  with sales of  26000
day when sales were more than average sales:  27  with sales of  27000
day when sales were more than average sales:  28  with sales of  28000
day when sales were more than average sales:  29  with sales of  29000
day when sales were more than average sales:  30  with sales of  30000

In [49]:
marks = [45, 67, 89, 78, 90]

for i in range(len(marks)):
    if marks[i]==89:
        print("Found at : ", i+1)
        break
else:
    print("Not found")

Found at :  3

In [47]:
marks[1]

67

In [ ]:
# Lets create stock price list of a company for a week
stock_price = [100, 200, 300, 400, 500, 600, 700]
# find the day when price was maximum
min_price = min(stock_price)
for i in range(len(stock_price)):
    if stock_price[i]==min_price:
        print('Max stock price at day: ',i+1)

Max stock price at day:  1

In [57]:
sum([150,160,170])/len([150,160,170])

160.0

In [ ]:
# stock price
company_stock = [[150,160,170],[230,100,170],[300,400,600]]

# task : 0, 1 and 2
# we need to find out avg stoc price of company 0,1, 2
# 

avg_stock_price ={}

for i in company_stock:
    total_sum = 0
    for j in i:
        total_sum = total_sum+j

    avg_stock_price['Company_'+] =(round(total_sum/len(i),2))
print(avg_stock_price)

[160.0, 166.67, 433.33]

In [71]:
avg_stock_price ={}

for i in range(len(company_stock)):
    total_sum=0
    for j in range(len(company_stock[i])):
        total_sum = total_sum+company_stock[i][j]
    avg_stock_price['Company_'+str(i)] =(round(total_sum/len(company_stock[i]),2))

In [72]:
avg_stock_price

{'Company_0': 160.0, 'Company_1': 166.67, 'Company_2': 433.33}

In [63]:
# {key:value}
# for eg.
marks = {
    'Rahul':[30,35,40,50],
    'XYZ':[12,34,45,50]

}
marks['ABC']=[12,45]

In [64]:
marks

{'Rahul': [30, 35, 40, 50], 'XYZ': [12, 34, 45, 50], 'ABC': [12, 45]}

In [1]:
# take one real scanrio to teach python from retail domain
# simple python
# inventory management system
# CRUD operations
# using list and dictionary
# no database
# no external libraries

inventory = []
def add_item(name, quantity, price):
    item = {
        'name': name,
        'quantity': quantity,
        'price': price
    }
    inventory.append(item)
    print(f"Item '{name}' added to inventory.")

def view_inventory():
    if not inventory:
        print("Inventory is empty.")
        return
    print("Current Inventory:")
    for item in inventory:
        print(f" - {item['name']}: {item['quantity']} units at ${item['price']} each")

def update_item(name, quantity, price):
    for item in inventory:
        if item['name'] == name:
            item['quantity'] = quantity
            item['price'] = price
            print(f"Item '{name}' updated.")
            return
    print(f"Item '{name}' not found.")

def delete_item(name):
    global inventory
    inventory = [item for item in inventory if item['name'] != name]
    print(f"Item '{name}' deleted.")

def main():
    while True:
        print("\nInventory Management System")
        print("1. Add Item")
        print("2. View Inventory")
        print("3. Update Item")
        print("4. Delete Item")
        print("5. Exit")
        choice = input("Choose an option: ")
        
        if choice == '1':
            name = input("Enter item name: ")
            quantity = int(input("Enter item quantity: "))
            price = float(input("Enter item price: "))
            add_item(name, quantity, price)
        elif choice == '2':
            view_inventory()
        elif choice == '3':
            name = input("Enter item name to update: ")
            quantity = int(input("Enter new quantity: "))
            price = float(input("Enter new price: "))
            update_item(name, quantity, price)
        elif choice == '4':
            name = input("Enter item name to delete: ")
            delete_item(name)
        elif choice == '5':
            print("Exiting Inventory Management System.")
            break
        else:
            print("Invalid choice. Please try again.")

### Practice Questions (Medium Complexity)

1. **Variables and Data Types:**  
    Write a Python program that takes a user's name, age, and height (in centimeters) as input. Store these values in appropriate variables and print a message displaying the user's details. Then, convert the height to meters and display the result.

2. **Lists and Loops:**  
    Create a list of five integers. Write a program to calculate and print the sum and average of the numbers using a `for` loop.

3. **Conditional Statements:**  
    Write a Python program that asks the user to enter a number. If the number is even, print "Even Number". If it is odd and greater than 10, print "Odd Number Greater Than 10". Otherwise, print "Odd Number 10 or Less".

4. **Dictionaries and Functions:**  
    Define a function that takes a dictionary containing student names as keys and their scores as values. The function should return the name of the student with the highest score.

5. **Error Handling:**  
    Write a program that asks the user to input two numbers and divides the first number by the second. Use a `try-except` block to handle the case where the user enters zero as the second number, and print an appropriate error message.