In [5]:
# lets say like we have sales data for a week
sales_data = [150, 200, 250, 700, 350, 400, 450]

# we need to find the day when sales at max
max_sales = max(sales_data)

for i in range(len(sales_data)):
    if sales_data[i] == max_sales:
        print(f"Max sales of {max_sales} occurred on day {i + 1}")
        continue
    print("value of i is", i)

value of i is 0
value of i is 1
value of i is 2
Max sales of 700 occurred on day 4
value of i is 4
value of i is 5
value of i is 6

In [9]:
# lets say  we have list of numbers
numbers = [10, 20, 30, 40, 50, 21, 31, 41, 51]

count = 0
for i in numbers:
    if i % 2 == 0:
        count += 1
        continue
print(f"Total even numbers: {count}")

Total even numbers: 5

In [ ]:
# lets see few example from while loop
# both are solving the same objective
for loop - you are checking condition inside the LookupError
while loop - you are checking condition in the while statement itself

In [11]:
# lets create one logout function
import datetime
def logout(user):
    print(f"User {user} has logged out.")
# login time 10 minutes ago
login_time = datetime.datetime.now() - datetime.timedelta(minutes=5)
current_time = datetime.datetime.now()
session_duration = current_time - login_time

while session_duration < datetime.timedelta(minutes=10):
    print("Session is active.")
    break
else:
    logout("rahul")

Session is active.

In [13]:
# lets take one more example
attempts = 0
max_attempts = 3

while attempts < max_attempts:
    user_input = input("Enter your password: ")
    if user_input == "securepassword":
        print("Login successful!")
        break
    else:
        print("Login failed.")
        attempts += 1
else:
    print("Max login attempts exceeded.")

Login successful!

In [14]:
def login_time(login_time):
    current_time = datetime.datetime.now()
    session_duration = current_time - login_time
    return session_duration

def logout(user):
    print(f"User {user} has logged out.")


# lets call the logout function

logout("rahul")

User rahul has logged out.

In [20]:
def avg_marks(marks: list) -> float:
    try:
        total = sum(marks)
        count = len(marks)
        average = total / count
        return average
    except Exception as e:
        print("An error occurred:", e)
        return 0.0
    

avg_marks(2)

An error occurred: 'int' object is not iterable

0.0

1

In [25]:
# lets createv random roll number data between 100 to 300 for 1000 students
import random
roll_numbers = [random.randint(100, 300) for _ in range(1000)]

# also track the time taken to search for a specific roll number
import time
start_time = time.time()
key=276
for i in range(len(roll_numbers)):
    if roll_numbers[i] == key:
        print(f"Roll number {key} found at index {i}")
        break
end_time = time.time()
print(f"Time taken to search: {end_time - start_time} seconds")

Roll number 276 found at index 142
Time taken to search: 0.00015163421630859375 seconds

In [28]:
# lets track the time in case of dictionary
import time
import random
# create random roll number data between 100 to 300 for 1000 students
roll_numbers_dict = {random.randint(100, 300): f"Student_{i}" for i in range(1000)}
# print(roll_numbers_dict)
# # also track the time taken to search for a specific roll number
start_time = time.time()
key = 276
if key in roll_numbers_dict:
    print(f"Roll number {key} found: {roll_numbers_dict[key]}")
end_time = time.time()
print(f"Time taken to search: {end_time - start_time} seconds")

Roll number 276 found: Student_971
Time taken to search: 0.0003840923309326172 seconds

In [31]:
students = {
    "name": "John Doe",
    "age": 21,
    "courses": ["Math", "Science", "History"]
}
print(students["name"])

students['past_courses'] = ["English", "Geography"]
students

John Doe

{'name': 'John Doe',
 'age': 21,
 'courses': ['Math', 'Science', 'History'],
 'past_courses': ['English', 'Geography']}

In [ ]:
# lets do one things
# we have 10 student with their marks of 9 subjects in a dictionary
students_marks = {
    "Student_1": [85, 90, 78, 92, 88, 76, 95, 89, 84],
    "Student_2": [80, 85, 88, 90, 92, 81, 79, 87, 91],
    "Student_3": [78, 82, 85, 88, 90, 84, 86, 89, 83],
    "Student_4": [90, 92, 94, 96, 98, 91, 93, 95, 97],
    "Student_5": [70, 75, 80, 85, 90, 72, 78, 82, 88],
    "Student_6": [88, 84, 82, 86, 90, 87, 85, 89, 91],
    "Student_7": [92, 94, 96, 98, 100, 95, 97, 99, 101],
    "Student_8": [76, 78, 80, 82, 84, 79, 81, 83, 85],
    "Student_9": [85, 87, 89, 91, 93, 88, 90, 92, 94],
    "Student_10": [80, 82, 84, 86, 88, 83, 85, 87, 89]
}

In [34]:
for student, marks in students_marks.items():
    average = sum(marks) / len(marks)
    print(f"{student} has an average mark of {average:.2f}")

Student_1 has an average mark of 86.33
Student_2 has an average mark of 85.89
Student_3 has an average mark of 85.00
Student_4 has an average mark of 94.00
Student_5 has an average mark of 80.00
Student_6 has an average mark of 86.89
Student_7 has an average mark of 96.89
Student_8 has an average mark of 80.89
Student_9 has an average mark of 89.89
Student_10 has an average mark of 84.89

In [ ]:
def final_result(board_name:str)-> str:
    if board_name == "CBSE":
        roll_number =('CB1234', 'CB5678', 'CB9101')
        return roll_number

In [40]:
result= final_result("CBSE")
result[0] = "CB1208"
result

TypeError: 'tuple' object does not support item assignment

In [43]:
roll_number = ('CB1234', 'CB5678', 'CB9101')
roll_number[0] = "CB1208"

TypeError: 'tuple' object does not support item assignment